body {
  background-color: #dbdae4;
}

h1 {
  color: #0a3325;
}

h2 {
  color: #092f80;
}

h3 {
  color: #110b6b;
}

p {
  color: #2d0981;
}

nav a {
  color: #060330;
}

a {
  color: #3b0864;
}

.js-logo {
  width: 50px;
  height: 50px;
}
.chrome-logo {
  width: 80px;
  height: 50px;
}

.first-box {
  display: inline-block;
  width: 150px;
  height: 200px;
}

#css p {
  height: 16px;
  margin: 2px 0;
  min-width: 930px;
}

#internet p {
  height: 16px;
  margin: 2px 0;
  min-width: 930px;
}

.section {
  width: 500px;
  height: 1500px;
  position: relative;
}

.section__first-content {
  position: sticky;
  top: 10px;
  margin-left: 20px;
}
.section__second-content {
  position: absolute;
  right: 50px;
  top: 30px;
}
.section__third-content {
  position: fixed;
  top: 30px;
  left: 30px;
}

.js_logo-image {
    width: 300px;
    height: 150px;
}